<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Lista Editorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                    </tr>    
                </thead>
                <tbody th:each= "editorial : ${editoriales}">
                    <tr>
                        <th scope="row" th:text="${editorial.id}"></th>
                        <td th:text="${editorial.nombre}"></td> 
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </body>
</html>
