<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>PÁGINA DE INICIO</div>
        <p th:text="'Hola de vuelta '+${session.usuariosession.nombre}">ENCUENTRA TODOS LOS LIBROS AQUÍ</p>
        
        <div>
                <img class="logo" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Imagen de perfil">
          </div>
        <div>
            
           
            <ul>
                <li><a th:href="@{/perfil}">EDITAR PERFIL</a></li>
                <li><a class="dropdown-item" href="/logout">CERRAR SESIÓN</a></li>
                
            </ul>
        </div>
    </body>
</html>
