<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    <head>
        <meta charset="ISO-8859-1">
        <title>Biblioteca</title>
       
       
    </head>
    <body>
        <header>
            <div class="container">
                <h2> Carga el libro aquí</h2>
            </div>
        </header>
            
        <form action="/libro/registro" method="POST">
           
            <div >
                <label class="mb-2">Cargar Libro</label>
                <input type="number" class="form-control" name="isbn" placeholder="ISBN">
            </div>
            
            <div ><!--"form-group my-3" -->
                <input type="text" class="form-control" name="titulo" placeholder="Titulo del libro">
            </div>
            
            <div ><!-- comment -->
                <input type="number" class="form-control" name="ejemplares" placeholder="Cantidad de Ejemplares">
            </div>
            
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error </h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            
            
             <div th:if="${exito != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Exito </h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            
             <div ><!--"form-group my-3" -->
                 
                 <select name="idAutor">
                     
                     <option>Seleccionar Autor</option>
                     
                     <option th:each="autor : ${autores}"
                             th:value="${autor.id}"
                             th:text="${autor.nombre}"
                             
                        />
                     
                 </select>
            </div>
            
            <div>
                <select name="idEditorial">
                    <option>Seleccionar Editorial</option>
                    <option th:each="editorial : ${editoriales}"
                            th:value="${editorial.id}"
                            th:text="${editorial.nombre}"
                     />
                </select> 
               
            </div>
            
            
             
            
             <button type="submit" class="btn btn-primary"> Subir </button>
        </form>
        
        
      </body>
</html>